@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
  --font-fira-sans: 'Fira Sans', sans-serif;
  --green: #85d177;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
}

html {
  font-family: var(--font-fira-sans);
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  background-color: transparent;
  border: none;
}
